body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    background-color: $color-grey-dark-2;
}
.heading-secondary {
    &--little {
        font-size: 1.9rem;
    }
    &--big {
        font-size: 4rem;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-2 {
    font-size: 1.6rem;
    font-weight: bold;
}
.heading-3 {
    font-size: 1.3rem;
}
.heading-4 {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

